.cont{
	width: 1200px;
	margin:auto;
}

.login-page{
	width: 100%;
	min-height: 100vh;
	background-size:100%;
}
.login-page-fader{
	width: 100%;
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-page-logo{
	text-align: center;
}

.login-page-logo .login-page-logo-img{
	display: inline-block;
}

.login-page-form{
	text-align: center;
}

.login-page-form-footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.password-form{
	display: none;
}

.login-page-form-footer-submit{
	cursor: pointer;
}

.main-header{
	width:100%;
}

.main-header-box{
	display: flex;
	justify-content: space-between;
	margin:auto;
}

.marketing-header{
	display: flex;
	margin:auto;
	justify-content: space-between;
}

.marketing-search{
	display: flex;
	margin:auto;
	justify-content: space-between;
}

.campaigns-list{
	margin:auto;
}

.companies-list{
	margin:auto;
}

.company-list{
	margin:auto;
}

.marketing-pills{
	display: flex;
}

.campaigns-list-top, .campaigns-list-element{
	display: flex;
}

.companies-list-top, .companies-list-element{
	display: flex;
}

.company-list-top, .company-list-element{
	display: flex;
}

.campaign-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.campaign-menu-datepicker-from, .campaign-menu-datepicker-to{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.tooltip{
	position: absolute;
	top:-40px;
	height: 25px;
	border-radius: 4px;
	white-space: nowrap;
	display: none;
}
.tooltip:after, .tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-width: 8px;
	margin-left: -8px;
}

.campaigns-report{
	display: none;
}

.companies-block{
	display: none;
}

@media only screen and (max-width: 1220px){
	.cont{
		width: 996px;
	}
}

@media only screen and (max-width: 1040px){
	.cont{
		width: 760px;
	}
}

@media only screen and (max-width: 768px){
	.content{
		padding:0px 10px;
	}

	.cont{
		width: 100%;
	}
}