.sense .navigation-header{
	border-bottom: 2px solid #33B0C4;
}

.sense .navigation-header{
	padding-top: 40px;
}

.sense .navigation-header.single-title .navigation-title{
	padding-bottom: 6px;
}

.sense .navigation-title{
	font-size: 16px;
	color: #33B0C4;
	font-weight: bold;
	align-self: center;
}

.sense .navigation-title{
	padding-bottom: 6px;
	display: block;
}

.sense .navigation-pills div{
	padding:12px 10px 5px;
	color:#33B0C4;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}

.sense .navigation-pills div.active{
	padding:8px 8px 6px;
	top:2px;
	border:2px solid #33B0C4;
	border-bottom: 2px solid #fff;
	border-radius: 2px;

}

.sense .navigation-search{
	margin:20px auto 25px;
}

.sense .navigation-search-input-box{
	background: url(../../../icons/7sense/sense-search-icon.png) no-repeat;
	padding-left: 30px;
	background-size: 20px;
	background-position: 0px center;
	width: 30%;
}

.sense .navigation-search input{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 6px;
	padding:5px;
	width: 100%;
}

.sense .navigation-search-add{
	background: #C04C30;
	padding: 6px 12px 6px 6px;
	color:white;
	cursor: pointer;
	text-decoration: none;
}

.sense .navigation-search-add:before{
	content: "+";
	margin-right: 10px;
	font-size: 20px;
	position: relative;
	top:2px;
}

.sense .navigation-header.main-title{
	padding-top: 0px;
	width: 100%;
}

.sense .navigation-header.main-title .navigation-title{
	padding: 20px 0px 13px;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #3C3346;
	font-size: 30px;
}

@media only screen and (max-width: 768px){
	
	.sense .navigation-header.single-title{
		max-width: inherit;
	}

	.sense .navigation-title{
		display: none;
	}

	.sense .navigation-title.company-title{
		display: block;
	}

	.sense .navigation-title.single-title{
		display: block;
	}

	.sense .navigation-header.single-title .navigation-title{
		display: block;
	}
	.sense .navigation-pills{
		margin:auto;
	}

	.sense .navigation-search{
		max-width: 600px;
		flex-wrap: wrap;
	}
	.sense .navigation-search-input-box{
		width: 100%;
		margin-bottom: 10px;
	}
	.sense .navigation-pills div{
		padding: 12px 8px 5px;
		font-size: 13px;
	}
	.sense .navigation-pills div.active{
		padding: 8px 6px 5px;
	}

	.sense .navigation-header.main-title{
		width: calc(100% + 20px);
		margin-left: -10px;
	}

}