@font-face {
	font-family: sensefont;
	src: url(../../fonts/AvenirLTStd-Roman.otf);
}
body.sense{
	font-family: sensefont;
	font-size: 14px;
	min-height: 100vh;
	position: relative;
}

.sense .main-header{
	padding: 0px;
	background-color: #33b0c4;
	z-index: 2;
	position: relative;
}

.sense .main-header-logo{
	background: url(../../images/7sense/Logo7Sense-white.png);
	background-size: 225px 112px;
	width: 225px;
	height: 112px;	
	min-width: 225px;
}

.sense .main-header-link-box{
	color:#fff;
	align-self: center;
}

.sense .main-header-title{
	color: #fff;
	align-self: center;
	font-size: 16px;
	flex-grow: 1;
	padding: 0px 20px;
	text-align: center;
}

.sense .main-header-profile{
	color:#fff;
	text-decoration: none;
	font-weight: bold;
}

.sense .main-header-profile:hover{
	text-decoration: underline;
}

.sense .main-header-logout{
	color:#fff;
	text-decoration: none;
}

.sense .main-header-logout:hover{
	text-decoration: underline;
}

.sense .content{
	padding-bottom: 80px;
}

.sense .main-footer{
	position: absolute;
	bottom:0px;
	width: 100%;
	height: 50px;
	background: #3c3346;
	border-top:10px solid #33b0c4;
}

.sense .tooltip{
	background-color: #33B0C4;
	color:#fff;
	padding: 6px 10px 4px;
}

.sense .tooltip:after{
	border-top-color:#33B0C4;
}

.sense .pagename-block{
	font-size: 34px;
	color:white;
	text-align: center;
	background: #33B0C4;
	padding:20px 20px 16px;
}

@media only screen and (max-width: 768px){
	.sense .main-header-box{
		padding:0px 20px;
	}

	.sense .main-header-logo{
		background-size: 112px 56px;
		width: 112px;
		height: 56px;
		min-width: 112px;
	}
	.sense .main-header-logo{
		align-self: center;
	}
	.sense .main-header-profile{
		display: block;
		margin: 4px 0px;
	}
	.sense .main-header-logout{
		display: block;
	}

	.sense .main-header-title{
		display: none;
	}
}