.sense .profile-box{
	margin-top: 20px;
	display: flex;
	background: #fff;
	padding: 2% 0;
}

.sense .profile-name-box{
	width: 50%;
	padding:10px 3%;
	border-right: 1px solid #ccc;
}

.sense .profile-reset-box{
	width:50%;
	padding:10px 3%;
	position: relative;
}

.sense .profile-box-field{
	position: relative;
	margin-bottom: 10px;
}

.sense .profile-box-field.stick:before{
	position: absolute;
	content: "";
	display: block;
	width: 1px;
	height: 25px;
	background-color: #ccc;
	z-index: 1;
	left: 43px;
	top: 6px;
}

.sense .profile-box-field.email:before{
	position: absolute;
    content: "@";
    display: block;
    z-index: 1;
    left: 12px;
    top: 6px;
    font-size: 26px;
    color: #696969;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    padding-top: 4px;
    height: 22px;
}

.sense .profile-box-field.reset-password{
	display: block;
	text-decoration: none;
	position: absolute;
	bottom: 0px;
	right: 6%;
	left: 6%;
	padding: 11px 10px 7px;
	cursor: pointer;
	color: #33B0C4;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #33B0C4;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(51,176,196,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(51,176,196,0.75);
	box-shadow: 0px 5px 5px 0px rgba(51,176,196,0.75);
}

.sense .profile-box-field.name input{
	background-image: url(../../icons/7sense/sense-user-icon.png);
}

.sense .profile-box-input-text{
	background-color: rgb(255, 255, 255);
	padding: 9px 8px 9px 52px;
	border: 0px none;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 4px center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	font-size: 16px;
}

.profile-box-select{
	padding: 2px 18px 2px 7px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	font-size: 16px;
}

.profile-box-field-label{
	margin: 5px 0px 8px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}

.sense .profile-name-box-menu{
	margin-top: 8%;
	text-align: center;
}

.sense .profile-name-box-menu-cancel{
  background: #000;
  padding: 11px 8px 6px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: 90px;
  text-align: center;
  display: inline-block;
  vertical-align: top;	
}

.sense .profile-name-box-menu-ok{
  background: #33B0C4;
  padding: 11px 10px 6px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: 90px;
  text-align: center;
  display: inline-block;
  margin-left: 3%;
  border: none;
  vertical-align: top;
}

.sense .profile-box-field.reset-password.change-password{
	position: static;
	margin-top:25px;
}

@media only screen and (max-width: 768px){
	.sense .profile-box{
		flex-wrap: wrap;
		position: relative;
		padding-bottom: 40px;
	}
	.sense .profile-name-box{
		width: 100%;
		padding-bottom: 0px;
		border-right: none;
	}

	.sense .profile-reset-box{
		width: 100%;
		padding-top: 0px;
	}

	.sense .profile-reset-box{
		position:static;
	}

	.sense .profile-box-field.reset-password{
		position: static;
	}

	.sense .profile-name-box-menu{
		position: absolute;
		bottom: 10px;
		width: 100%;
	}

}