.sense .trigger-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top:40px;
	align-items: center;
	border:1px solid #30BFD4;
	border-bottom: none;
	padding-right: 1%;
}

.sense .trigger-header-title{
	flex-grow: 1;
}

.sense .trigger-header-id{
	font-size: 20px;
	font-weight: bold;
	padding: 13px 15px 8px;
	border-bottom: 0px;
	display: inline-block;
	background: #30BFD4;
	min-width: 200px;
	color: #fff;	
}

.sense .trigger-header-priority-title{
	color:#696969;
	margin-right: 10px;
}

.sense .trigger-header-priority-input{
	width: 60px;
	border-radius: 0px;
	border:1px solid #ccc;
	padding: 4px 4px;
	text-align: center;
}

.sense .trigger-header-button{
	width: 80px;
	text-align: right;
	padding-top: 4px;
}

.sense .trigger-content{
	border:1px solid #30BFD4;
	background: #fff;
	padding: 1%;
}

.sense .trigger-content-link{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
}

.sense .trigger-content-link-title{
	padding: 16px 14px 10px;
	font-size: 16px;
	border:1px solid #ccc;
	text-transform: uppercase;
}

.sense .trigger-content-link-address{
	padding: 12px 11px 10px;
	border:1px solid #ccc;
	border-left: 0px;
	flex-grow: 1;
}

.sense .trigger-content-link-address input{
	color:#000;
	font-size: 15px;
	text-decoration: none;
	width: 100%;
	border:0px;
}

.sense .trigger-content-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid #30BFD4;
	border-bottom: none;
	padding:10px;
	background-color: rgba(50, 191, 211, 0.1)
}

.sense .trigger-content-box:last-child{
	border-bottom: 1px solid #30BFD4;
}


.sense .trigger-content-box-desc{
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.sense .trigger-content-box-inputs{
	width: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sense .trigger-content-box-desc-label{
	width: 80px;
	color:#696969;
}

.sense .trigger-content-box .trigger-content-box-desc-icon{
	background-repeat: no-repeat;
	width: 36px;
	min-width: 36px;
	height: 48px;
	background-position: center;
}

.sense .trigger-content-box.phone .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/mobile-icon.png);
	background-size: 36px;
}

.sense .trigger-content-box.temperature .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/temperature-icon.png);
	background-size: 20px;
}

.sense .trigger-content-box.uv-index .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/uv-index-icon.png);
	background-size: 40px;
}

.sense .trigger-content-box.air-quality .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/air-quality-icon.png);
	background-size: 36px;
	background-position: 0px 0px;
}

.sense .trigger-content-box.date .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/date-icon.png);
	background-size: 36px;
}

.sense .trigger-content-box.hour .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/hour-icon.png);
	background-size: 36px;
	background-position: 0px 3px;
}

.sense .trigger-content-box.language .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/language-icon.png);
	background-size: 36px;
	background-position: center;
}

.sense .trigger-content-box.altitude .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/altitude-icon.png);
	background-size: 36px;
	background-position: center;
}

.sense .trigger-content-box.air-humidity .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/humidity-icon.png);
	background-size: 36px;
	background-position: center;
}

.sense .trigger-content-box.wind .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/wind-icon.png);
	background-size: 28px;
	background-position: center;
}

.sense .trigger-content-box.country .trigger-content-box-desc-icon{
	background-image: url(../../icons/7sense/country-icon.png);
	background-size: 36px;
	background-position: center;
}

.sense .trigger-content-box-desc-text{
	font-size: 16px;
	color:#696969;
	text-transform: uppercase;
	flex-grow: 1;
	padding-left: 20px;
}

.sense .trigger-content-box-inputs-label{
	width: 32%;
}

.sense .trigger-content-box-inputs-text{
	width: 0px;
	flex-grow: 1;
	font-size: 16px;
	border:1px solid #ccc;
	border-radius: 0px;
	padding:0px 10px;
	height: 34px;
}

.sense .trigger-content-box-inputs-text.date-picker, .sense .trigger-content-box-inputs-text.hour-picker{
	border:1px solid #30BFD4;
}

.sense .trigger-content-box-inputs-pointer{
	align-self: center;
	padding: 0px 15px;
}

.sense .trigger-content-box-inputs-language-text, .sense .trigger-content-box-inputs-country-text{
	width: 50%;
	align-self: center;
	color:#696969;
	font-size: 16px;
}

.sense .trigger-content-box-inputs-language-select, .sense .trigger-content-box-inputs-country-select{
	font-size: 14px;
	width: 50%;
	height: 96px;
	padding: 5px;
}
.sense .trigger-content-box.gps{
	align-items: flex-start;
	flex-wrap: wrap;
}

.sense #gps-checkbox{
	margin-top:-2px;
}

.sense .trigger-content-box-coordinates{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	padding-left: 56px;
	background-image: url(../../icons/7sense/gps-icon.png); 
	background-repeat: no-repeat;
	background-size: 36px;
	background-position: 3px 6px;
}

.sense .trigger-content-box-coordinates-title{
	width: 100%;
	text-transform: uppercase;
	color:#696969;
	margin-bottom: 10px;
}

.sense .trigger-content-box-coordinates-text{
	width: 0px;
	flex-grow: 1;
	border-radius: 0px;
	border:1px solid #ccc;
	padding: 5px 15px;
	margin-right: 20px;
	font-size: 16px;
	height: 34px;
}

.sense .trigger-content-box-coordinates-ratio{
	width: 80px;
	border-radius: 0px;
	border:1px solid #ccc;
	padding: 5px 7px;
	font-size: 16px;
	height: 34px;
	text-align: center;
}

.sense .trigger-content-box-coordinates-label{
	padding: 12px 10px 0px;
	color:#696969;
	text-transform: uppercase;
}

.sense .trigger-map-box{
	width: 100%;
	height: 320px;
	border-top:2px solid #ccc;
	margin-top:20px;
	padding-top: 20px;
	padding-bottom: 20px
}

.sense #trigger-map{
	width: 100%;
	height: 280px;
}

.sense .trigger-footer{
	margin-top:30px;
	text-align: right;
}

@media only screen and (max-width: 768px){
	.sense .trigger-content{
		padding:5px 10px;
	}

	.sense .trigger-header{
		flex-wrap: wrap;
		padding-right: 0px;
	}

	.sense .trigger-header-title{
		flex-grow: 1;
		width: 100%;
	}

	.sense .trigger-header-id{
		width: 100%;
		position: static;
	}

	.sense .trigger-header-priority{
		flex-grow:1;
		min-height: 40px;
		background-color: #fff;
		padding-left: 10px;
		padding-top: 8px;
	}

	.sense .trigger-header-button{
		min-height: 40px;
		margin-top:0px;
		padding-top: 0px;
		background-color: #fff;
		padding-right: 10px;
		padding-top: 8px;
	}

	.sense .trigger-header-priority-input{
		width: 70px;
	}

	.sense .trigger-content{
		border-top:0px;
	}

	.sense .trigger-content-link{
		flex-wrap: wrap;
	}

	.sense .trigger-content-link-title{
		width: 100%;
		padding: 7px 5px 4px;
		margin-top:5px;
	}

	.sense .trigger-content-link-address{
		border-left: 1px solid #ccc;
	}

	.sense .trigger-content-link-address input{
		word-break: break-all;
		display: inline-block;
	}

	.sense .trigger-content-box{
		flex-wrap: wrap;
	}

	.sense .trigger-content-box-desc{
		width: 100%;
		margin-bottom: 10px;
		display: flex;
	}

	.sense .trigger-content-box .trigger-content-box-desc-icon{
		order: 1;
	}

	.sense .trigger-content-box-desc-text{
		order: 2;
		flex-grow: 1;
		padding-left: 10px;
	}

	.sense .trigger-content-box-desc input{
		order:3;
	}

	.sense .trigger-content-box-desc-label{
		width: 32px;
		order:4;
	}

	.sense .trigger-content-box-inputs{
		width: 100%;
		flex-wrap: wrap;
	}

	.sense .trigger-content-box-inputs-pointer{
		width: 100%;
		padding:0px;
		margin: 8px 0px 5px;
	}

	.sense .trigger-content-box.gps .trigger-content-box-desc-label{
		order: 0;
		z-index: 1;
		margin-top: 18px;
	}

	.sense .trigger-content-box.gps{
		justify-content: flex-end;
	}

	.sense .trigger-content-box-coordinates{
		margin-top:-28px;
		padding-left: 0px;
		background-position: 3px 0px;
	}

	.sense #gps-checkbox{
		margin-left: 0px;
		z-index: 1;
		margin-top: 15px;
	}

	.sense .trigger-content-box-coordinates-title{
		margin: 10px 0px 15px;
		padding-left: 50px;
		padding-bottom: 25px;
	}

	.sense .trigger-content-box-coordinates-text{
		width: 100%;
		margin-bottom: 5px;
	}

	.sense .trigger-content-box-coordinates-label.ratio{
		padding-left: 0px;
		width: 100%;
		margin-bottom: 5px;
	}

	.sense .trigger-content-box-coordinates-ratio{
		flex-grow: 1;
		text-align: left;
	}

	.sense .trigger-map-box{
		border-top:0px;
	}

}