.nutroxsun .report-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top:40px;
	align-items: center;
}

.nutroxsun .report-header-title{
	flex-grow: 1;
}

.nutroxsun .report-header-id{
	position: relative;
	top: 1px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 15px 8px;
	border:1px solid #EABF91;
	border-bottom: 0px;
	display: inline-block;
	background: rgba(252,221,189,1);
	background: -moz-linear-gradient(top, rgba(252,221,189,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,221,189,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(252,221,189,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(252,221,189,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,221,189,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(252,221,189,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcddbd', endColorstr='#ffffff', GradientType=0 );	
}

.nutroxsun .report-header-priority-title{
	color:#696969;
	margin-right: 10px;
}

.nutroxsun .report-header-priority-input{
	width: 60px;
	border-radius: 0px;
	border:1px solid #ccc;
	padding: 4px 4px;
	text-align: center;
}

.nutroxsun .report-header-button{
	width: 80px;
	text-align: right;
	padding-top: 4px;
}

.nutroxsun .report-content{
	border:1px solid #EABF91;
	background: #fff;
	padding: 1%;
}

.nutroxsun .report-content-link{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
}

.nutroxsun .report-content-link-title{
	padding:13px 10px 4px;
	font-size: 16px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
	box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
	text-transform: uppercase;
}

.nutroxsun .report-content-link-address{
	padding: 13px 11px 8px;
	outline:2px solid #ccc;
	flex-grow: 1;
}

.nutroxsun .report-content-link-address a{
	color:#000;
	font-size: 15px;
	text-decoration: none;
}

.nutroxsun .report-content-link-address a:hover{
	text-decoration: underline;
}

.nutroxsun .report-content-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid #EABF91;
	border-radius: 5px;
	padding:10px;
	background-color:#FFFACD;
	margin-bottom: 15px;
}

.nutroxsun .report-content-box-desc{
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.nutroxsun .report-content-box-inputs{
	width: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nutroxsun .report-content-box-desc-label{
	width: 80px;
	color:#696969;
}

.nutroxsun .report-content-box .report-content-box-desc-icon{
	background-repeat: no-repeat;
	width: 36px;
	min-width: 36px;
	height: 48px;
	background-position: center;
}

.nutroxsun .report-content-box.phone .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/mobile-icon.png);
	background-size: 36px;
}

.nutroxsun .report-content-box.temperature .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/temperature-icon.png);
	background-size: 20px;
}

.nutroxsun .report-content-box.uv-index .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/uv-index-icon.png);
	background-size: 40px;
}

.nutroxsun .report-content-box.air-quality .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/air-quality-icon.png);
	background-size: 36px;
	background-position: 0px 0px;
}

.nutroxsun .report-content-box.date .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/date-icon.png);
	background-size: 36px;
}

.nutroxsun .report-content-box.hour .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/hour-icon.png);
	background-size: 36px;
	background-position: 0px 3px;
}

.nutroxsun .report-content-box.language .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/language-icon.png);
	background-size: 36px;
	background-position: center;
}

.nutroxsun .report-content-box.country .report-content-box-desc-icon{
	background-image: url(../../icons/nutroxsun/country-icon.png);
	background-size: 36px;
	background-position: center;
}

.nutroxsun .report-content-box-desc-text{
	font-size: 16px;
	color:#696969;
	text-transform: uppercase;
	flex-grow: 1;
	padding-left: 20px;
}

.nutroxsun .report-content-box-inputs-label{
	width: 32%;
}

.nutroxsun .report-content-box-inputs-text{
	width: 0px;
	flex-grow: 1;
	font-size: 16px;
	border:1px solid #ccc;
	border-radius: 0px;
	padding:0px 10px;
	height: 34px;
}

.nutroxsun .report-content-box-inputs-text.date-picker, .nutroxsun .report-content-box-inputs-text.hour-picker{
	border:1px solid #F47B4E;
}

.nutroxsun .report-content-box-inputs-pointer{
	align-self: center;
	padding: 0px 15px;
}

.nutroxsun .report-content-box-inputs-language-text, .nutroxsun .report-content-box-inputs-country-text{
	width: 50%;
	align-self: center;
	color:#696969;
	font-size: 16px;
}

.nutroxsun .report-content-box-inputs-language-select, .nutroxsun .report-content-box-inputs-country-select{
	font-size: 14px;
	width: 50%;
	height: 96px;
	padding: 5px;
}
.nutroxsun .report-content-box.gps{
	align-items: flex-start;
	flex-wrap: wrap;
}

.nutroxsun #gps-checkbox{
	margin-top:-2px;
}

.nutroxsun .report-content-box-coordinates{
	flex-grow: 1;
}

.nutroxsun .report-content-box-coordinates{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	padding-left: 56px;
}

.nutroxsun .report-content-box-coordinates-title{
	width: 100%;
	text-transform: uppercase;
	color:#696969;
	margin-bottom: 10px;
}

.nutroxsun .report-content-box-coordinates-text{
	width: 0px;
	flex-grow: 1;
	border-radius: 0px;
	border:1px solid #ccc;
	padding: 5px 15px;
	margin-right: 20px;
	font-size: 16px;
	height: 34px;
}

.nutroxsun .report-content-box-coordinates-ratio{
	width: 80px;
	border-radius: 0px;
	border:1px solid #ccc;
	padding: 5px 7px;
	font-size: 16px;
	height: 34px;
	text-align: center;
}

.nutroxsun .report-content-box-coordinates-label{
	padding: 12px 10px 0px;
	color:#696969;
	text-transform: uppercase;
}

.nutroxsun .report-map-box{
	width: 100%;
	height: 320px;
	border-top:2px solid #ccc;
	margin-top:20px;
	padding-top: 20px;
	padding-bottom: 20px
}

.nutroxsun #report-map{
	width: 100%;
	height: 280px;
}

.nutroxsun .report-footer{
	margin-top:30px;
	text-align: right;
}

@media only screen and (max-width: 768px){
	.nutroxsun .report-content{
		padding:5px 10px;
	}

	.nutroxsun .report-header{
		flex-wrap: wrap;
	}

	.nutroxsun .report-header-title{
		flex-grow: 1;
		width: 100%;
	}

	.nutroxsun .report-header-id{
		width: 100%;
		position: static;
	}

	.nutroxsun .report-header-priority{
		flex-grow:1;
		border-left: 1px solid #EABF91;
		min-height: 40px;
		background-color: #fff;
		padding-left: 10px;
		padding-top: 8px;
	}

	.nutroxsun .report-header-button{
		min-height: 40px;
		margin-top:0px;
		padding-top: 0px;
		background-color: #fff;
		border-right: 1px solid #EABF91;
		padding-right: 10px;
		padding-top: 8px;
	}

	.nutroxsun .report-header-priority-input{
		width: 100px;
	}

	.nutroxsun .report-content{
		border-top:0px;
	}

	.nutroxsun .report-content-link{
		flex-wrap: wrap;
	}

	.nutroxsun .report-content-link-title{
		width: 100%;
		padding: 7px 5px 4px;
		margin-top:5px;
	}

	.nutroxsun .report-content-link-address a{
		word-break: break-all;
		display: inline-block;
	}

	.nutroxsun .report-content-box{
		flex-wrap: wrap;
	}

	.nutroxsun .report-content-box-desc{
		width: 100%;
		margin-bottom: 10px;
		display: flex;
	}

	.nutroxsun .report-content-box .report-content-box-desc-icon{
		order: 1;
	}

	.nutroxsun .report-content-box-desc-text{
		order: 2;
		flex-grow: 1;
		padding-left: 10px;
	}

	.nutroxsun .report-content-box-desc input{
		order:3;
	}

	.nutroxsun .report-content-box-desc-label{
		width: 32px;
		order:4;
	}

	.nutroxsun .report-content-box-inputs{
		width: 100%;
		flex-wrap: wrap;
	}

	.nutroxsun .report-content-box-inputs-pointer{
		width: 100%;
		padding:0px;
		margin: 8px 0px 5px;
	}

	.nutroxsun .report-content-box.gps .report-content-box-desc-label{
		order: 0;
		z-index: 1;
		margin-top: 18px;
	}

	.nutroxsun .report-content-box.gps{
		justify-content: flex-end;
	}

	.nutroxsun .report-content-box-coordinates{
		margin-top:-28px;
		padding-left: 0px;
	}

	.nutroxsun #gps-checkbox{
		margin-left: 0px;
		z-index: 1;
		margin-top: 15px;
	}

	.nutroxsun .report-content-box-coordinates-title{
		margin: 10px 0px 15px;
	}

	.nutroxsun .report-content-box-coordinates-text{
		width: 100%;
		margin-bottom: 5px;
	}

	.nutroxsun .report-content-box-coordinates-label.ratio{
		padding-left: 0px;
		width: 100%;
		margin-bottom: 5px;
	}

	.nutroxsun .report-content-box-coordinates-ratio{
		flex-grow: 1;
	}

	.nutroxsun .report-map-box{
		border-top:0px;
	}

}