.sense .content-table-block.company-block .content-table-list-name{
	width: 75%;
}

.sense .content-table-block.company-block .content-table-list-switcher{
	width: 10%;
}

.sense .content-table-block.company-block .content-table-list-editor{
	width: 15%;
}

.sense .content-table-block.company-block .content-table-list-element .content-table-list-name{
	width: 74%;
}

.sense .content-table-block.company-block .content-table-list-element .content-table-list-editor{
	width: 14%;
}

.sense .company-list-top .company-list-name{
	background: url(../../../icons/sense/sense-arrows.png) no-repeat;
	background-position: 10px center;
	padding-left: 28px;
	background-size: 10px;
	cursor: pointer;
}

.sense .content-table-block.company-block .content-table-list-element.enabled .content-table-list-editor-edit:hover .tooltip{
	display: block;
	left: -12px
}

.sense .content-table-block.company-block .content-table-list-element.enabled .content-table-list-editor-duplicate:hover .tooltip{
	display: block;
	left: -44px
}

.sense .content-table-block.company-block .content-table-list-element.enabled .content-table-list-editor-delete:hover .tooltip{
	display: block;
	left: -34px
}

@media only screen and (max-width: 1040px){
	
	.sense .content-table-block.company-block .content-table-list-name{
		width: 68%;
	}

	.sense .content-table-block.company-block .content-table-list-switcher{
		width: 13%;
	}

	.sense .content-table-block.company-block .content-table-list-editor{
		width: 19%;
	}

	.sense .content-table-block.company-block .content-table-list-element .content-table-list-name{
		width: 67%;
	}

	.sense .content-table-block.company-block .content-table-list-element .content-table-list-editor{
		width: 18%;
	}
}

@media only screen and (max-width: 768px){

	.sense .content-table-block.company-block .content-table-list-name{
		width: 50%;
	}

	.sense .content-table-block.company-block .content-table-list-switcher{
		width: 50%;
	}

	.sense .content-table-block.company-block .content-table-list-element .content-table-list-switcher{
		width: 80px;
	}

	.sense .content-table-block.company-block .content-table-list-element .content-table-list-name{
		order: 1;
		flex-grow: 1;
		margin-top: 0px;
		text-align: left;
		padding-top: 4px;
	}

	.sense .content-table-block.company-block .content-table-list-element .content-table-list-editor{
		width: 100%;
	}

	.sense .user-header{
		max-width: 600px;
	}

	.sense .user-search{
		max-width: 600px;
		flex-wrap: wrap;
	}
	.sense .user-search-input-box{
		width: 100%;
		margin-bottom: 10px;
	}

	.sense .user-search-name{
		margin-bottom: 8px;
	}

	.sense .user-search.id-search{
		padding-top: 20px;
	}
	
	.sense .user-search.name-search{
		margin-bottom: 15px;
	}
}
