.nutroxsun .user-header{
	border-bottom: 2px solid #C54F32;
}

.nutroxsun .user-header{
	margin-top: 40px;
}

.nutroxsun .user-search{
	margin:20px auto 15px;
	display: flex;
	justify-content: space-between;
}

.nutroxsun .user-search.name-search{
	margin-bottom: 70px;
}

.nutroxsun .user-search.id-search{
	padding-top: 70px;
	margin-top:0px;
}

.nutroxsun .user-search-input-box{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 6px;
	padding:5px 8px 5px;
	width: 100%;
}

.nutroxsun .user-search-add{
	background: #C04C30;
	padding: 6px 12px 6px 6px;
	color:white;
	cursor: pointer;
	text-decoration: none;
}

.nutroxsun .user-search-add:before{
	content: "+";
	margin-right: 10px;
	font-size: 20px;
	position: relative;
	top:2px;
}

.nutroxsun .user-search-name{
	align-self: center;
	color:#696969;
	text-transform: uppercase;
	margin-right: 5%;
}

.nutroxsun .user-list-switcher {
    width: 70px;
}

.nutroxsun .user-list-switcher-button{
	width: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 25px;
	cursor: pointer;
}

.nutroxsun .user-list-switcher-button > div{
	border-radius: 10px;
	height: 25px;
	padding: 7px;
	position: absolute;
	width: 100%;
	top:0px;
	color: #fff;
	transition: 0.1s left linear;
}

.nutroxsun .user-list-switcher-button .on{
	background-color:#F7931E;
	text-align: left;
	left: 0px;
}

.nutroxsun .user-list-switcher-button .on:after{
	content: "";
	position: absolute;
	right: 10px;
	top: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}

.nutroxsun .user-list-switcher-button .off:after{
	content: "";
	position: absolute;
	left: 10px;
	top: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}

.nutroxsun .user-list-switcher-button .off{
	left:100%;
	text-align: right;
	background: #DBD4CF;
}

.user-search-title{
	color:#696969;
	font-size: 16px;
	align-self: center;
}

.nutroxsun .company-list{
	border:1px solid #ccc;
	background: #fff;
}

.nutroxsun .company-list-holder{
	border-bottom: 1px solid #ccc;
}

.nutroxsun .company-list-top div{
	padding:16px 14px 14px;
	color:#534741;
	font-weight: bold;
	border-right: 1px solid #ccc;
}

.nutroxsun .company-list-top div:last-child{
	border-right: none;
}

.nutroxsun .company-block .company-list-name{
	width: 75%;
}

.nutroxsun .company-block .company-list-switcher{
	width: 10%;
}

.nutroxsun .company-block .company-list-editor{
	width: 15%;
}

.nutroxsun .company-block .company-list-element .company-list-name{
	width: 74%;
}

.nutroxsun .company-block .company-list-element .company-list-editor{
	width: 14%;
}

.nutroxsun .company-list-top .company-list-name{
	background: url(../../../icons/nutroxsun-arrows.png) no-repeat;
	background-position: 10px center;
	padding-left: 28px;
	background-size: 10px;
	cursor: pointer;
}

.nutroxsun .company-list-top .company-list-name:hover{
	background-color:  #F5DEB3;
	box-shadow: 0 0 0 1px #FF8C00;
}

.nutroxsun .company-list-top .company-list-switcher{
	background: url(../../../icons/nutroxsun-arrows.png) no-repeat;
	background-position: 10px center;
	padding-left: 28px;
	background-size: 10px;
	cursor: pointer;
}

.nutroxsun .company-list-top .company-list-switcher:hover{
	background-color:  #F5DEB3;
	box-shadow: 0 0 0 1px #FF8C00;
}

.nutroxsun .company-list-top .company-list-editor{
	border-right: none;
}

.nutroxsun .company-list-element{
	width:100%;
	margin-top:-1px;
	justify-content: center;
}

.nutroxsun .company-list-element > div{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top:1px solid transparent;
	padding: 16px;
}

.nutroxsun .company-list-elements-box > .company-list-element:last-child >div{
	border-bottom: none;
}

.nutroxsun .company-list-element > div:first-child{
	border-left:1px solid transparent;
}

.nutroxsun .company-list-element > div:last-child{
	border-right:1px solid transparent;
}

.nutroxsun .company-list-element:hover > div, .nutroxsun .company-list-element.active > div{
	background:  #F5DEB3;
	border-bottom:1px solid #F7931E;
	border-top:1px solid #F7931E;
}

.nutroxsun .company-list-element:hover >div:first-child, .nutroxsun .company-list-element.active > div:first-child{
	border-left:1px solid #F7931E;
}

.nutroxsun .company-list-element:hover >div:last-child, .nutroxsun .company-list-element.active > div:last-child{
	border-right:1px solid #F7931E;
}

.nutroxsun .company-list-element .company-list-name{
	color: #696969;
}

.nutroxsun .company-list-element.disabled .company-list-name{
	color:#DBD4CF;
}

.nutroxsun .company-list-element .company-list-switcher{
	text-align: center;
	padding: 11px 10px 5px;
}

.nutroxsun .company-list-switcher-button{
	width: 80%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 25px;
	cursor: pointer;
}

.nutroxsun .company-list-switcher-button > div{
	border-radius: 10px;
	height: 25px;
	padding: 6px;
	position: absolute;
	width: 100%;
	top:0px;
	color: #fff;
	transition: 0.1s left linear;
}

.nutroxsun .company-list-switcher-button .on{
	background-color:#F7931E;
	text-align: left;
	left: 0px;
}

.nutroxsun .company-list-switcher-button .on:after{
	content: "";
	position: absolute;
	right: 10px;
	top: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}

.nutroxsun .company-list-switcher-button .off:after{
	content: "";
	position: absolute;
	left: 10px;
	top: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}

.nutroxsun .company-list-switcher-button .off{
	left:100%;
	text-align: right;
	background: #DBD4CF;
}

.nutroxsun .company-list-element .company-list-editor{
	text-align: center;
	padding: 10px 0px 0px;
}

.nutroxsun .company-list-element .company-list-editor > div{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-size: 25px !important;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
}

.nutroxsun .company-list-element.enabled .company-list-editor-edit{
	background: url(../../../icons/nutroxsunedit.png) no-repeat;
}

.nutroxsun .company-list-element.enabled .company-list-editor-edit:hover .tooltip{
	display: block;
	left: -11px
}

.nutroxsun .company-list-element.enabled .company-list-editor-duplicate{
	background: url(../../../icons/nutroxsundublicate.png) no-repeat;
}

.nutroxsun .company-list-element.enabled .company-list-editor-duplicate:hover .tooltip{
	display: block;
	left: -45px
}

.nutroxsun .company-list-element.enabled .company-list-editor-delete{
	background: url(../../../icons/nutroxsundelete.png) no-repeat;
}

.nutroxsun .company-list-element.enabled .company-list-editor-delete:hover .tooltip{
	display: block;
	left: -36px
}

.nutroxsun .company-list-element.disabled .company-list-editor-edit{
	background: url(../../../icons/nutroxsun-edit-disabled.png) no-repeat;
}

.nutroxsun .company-list-element.disabled .company-list-editor-duplicate{
	background: url(../../../icons/nutroxsun-dublicate-disabled.png) no-repeat;
}

.nutroxsun .company-list-element.disabled .company-list-editor-delete{
	background: url(../../../icons/nutroxsun-delete-disabled.png) no-repeat;
}

.nutroxsun .company-bottom-menu{
	margin-top:3%;
	text-align: right;
}

.nutroxsun .user-company-bottom-menu-ok{
	background: #C04C30;
	padding: 8px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	width: 90px;
	text-align: center;
	display: inline-block;
}

.nutroxsun .user-company-bottom-menu-cancel{
	background: #B3B3B3;
	border:2px solid #808080;
	padding: 6px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	width: 90px;
	text-align: center;
	display: inline-block;
}

@media only screen and (max-width: 1040px){

	.nutroxsun .company-block .company-list-name{
		width: 68%;
	}

	.nutroxsun .company-block .company-list-switcher{
		width: 13%;
	}

	.nutroxsun .company-block .company-list-editor{
		width: 19%;
	}

	.nutroxsun .company-block .company-list-element .company-list-name{
		width: 67%;
	}

	.nutroxsun .company-block .company-list-element .company-list-editor{
		width: 18%;
	}
}

@media only screen and (max-width: 768px){

	.nutroxsun .user-header{
		max-width: 600px;
	}

	.nutroxsun .user-search{
		max-width: 600px;
		flex-wrap: wrap;
	}
	.nutroxsun .user-search-input-box{
		width: 100%;
		margin-bottom: 10px;
	}

	.nutroxsun .user-search-name{
		margin-bottom: 8px;
	}

	.nutroxsun .user-search.id-search{
		padding-top: 20px;
	}
	
	.nutroxsun .user-search.name-search{
		margin-bottom: 15px;
	}

	.nutroxsun .company-list{
		border: none;
		background: transparent;
	}

	.nutroxsun .company-list-top{
		border-top:1px solid #ccc;
		border-left:1px solid #ccc;
	}

	.nutroxsun .company-list-top .company-list-name{
		width: 50%;
		text-align: center;
		background-position: 31% center;
		background-color: #fff;
	}

	.nutroxsun .company-list-top .company-list-switcher{
		width: 50%;
		text-align: center;
		background-position: 26% center;
		background-color: #fff;
	}

	.nutroxsun .company-list-top .company-list-editor{
		display: none;
	}

	.nutroxsun .company-list-holder{
		max-width: 600px;
		margin: 20px auto 0px;
	}

	.nutroxsun .company-list-element{
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
		max-width: 600px;
		margin: auto;
		margin-top: 10px;
		background: #fff;
		padding: 10px;
	}

	.nutroxsun .company-list-element > div{
		border:none;
		margin-bottom: 10px;
		padding: 0px;
	}

	.nutroxsun .company-list-element > div:first-child{
		border-left:none;
	}

	.nutroxsun .company-list-element > div:last-child{
		border-right:none;
	}

	.nutroxsun .company-list-element:hover > div, .nutroxsun .company-list-element.active > div{
		background: none;
		border-bottom:none;
		border-top:none;
	}

	.nutroxsun .company-list-element:hover >div:first-child, .nutroxsun .company-list-element.active > div:first-child{
		border-left:none;
	}

	.nutroxsun .company-list-element:hover >div:last-child, .nutroxsun .company-list-element.active > div:last-child{
		border-right:none;
	}

	.nutroxsun .company-block .company-list-element .company-list-name{
	    display: block;
	    order: 1;
	    text-align: left;
	    margin-bottom: 20px;
	    margin-top: 5px;
	    flex-grow: 1;
	}

	.nutroxsun .company-block .company-list-element .company-list-switcher{
		display: block;
		width: 70px;
		order: 2;
		padding: 0px
	}

	.nutroxsun .company-block .company-list-element .company-list-editor{
		display: block;
		width: 100%;
		order: 3;
		padding: 0px;
		margin-bottom: 0px;
	}

	.nutroxsun .company-list-switcher-button{
		width: 90%;
	}

	.nutroxsun .company-bottom-menu{
		max-width: 600px;
	}

}
