.nutroxsun .navigation-header{
	border-bottom: 2px solid #C54F32;
}

.nutroxsun .navigation-header{
	padding-top: 40px;
}

.nutroxsun .navigation-header.single-title .navigation-title{
	padding-bottom: 6px;
}

.nutroxsun .navigation-title{
	font-size: 16px;
	color: #C54F32;
	font-weight: bold;
	align-self: center;
}

.nutroxsun .navigation-title{
	padding-bottom: 6px;
	display: block;
}

.nutroxsun .navigation-pills div{
	padding:12px 10px 5px;
	color:#C54F32;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}

.nutroxsun .navigation-pills div.active{
	padding:8px 8px 6px;
	top:2px;
	border:2px solid #C54F32;
	border-bottom: 2px solid #FFFACD;
	border-radius: 2px;

}

.nutroxsun .navigation-search{
	margin:20px auto 25px;
}

.nutroxsun .navigation-search-input-box{
	background: url(../../../icons/nutroxsun/nutroxsun-search-icon.png) no-repeat;
	padding-left: 30px;
	background-size: 20px;
	background-position: 0px center;
	width: 30%;
}

.nutroxsun .navigation-search input{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 6px;
	padding:5px;
	width: 100%;
}

.nutroxsun .navigation-search-add{
	background: #C04C30;
	padding: 6px 12px 6px 6px;
	color:white;
	cursor: pointer;
	text-decoration: none;
}

.nutroxsun .navigation-search-add:before{
	content: "+";
	margin-right: 10px;
	font-size: 20px;
	position: relative;
	top:2px;
}

@media only screen and (max-width: 768px){
	
	.nutroxsun .navigation-header.single-title{
		max-width: inherit;
	}

	.nutroxsun .navigation-title{
		display: none;
	}

	.nutroxsun .navigation-title.company-title{
		display: block;
	}

	.nutroxsun .navigation-title.single-title{
		display: block;
	}

	.nutroxsun .navigation-header.single-title .navigation-title{
		display: block;
	}
	.nutroxsun .navigation-pills{
		margin:auto;
	}

	.nutroxsun .navigation-search{
		max-width: 600px;
		flex-wrap: wrap;
	}
	.nutroxsun .navigation-search-input-box{
		width: 100%;
		margin-bottom: 10px;
	}
	.nutroxsun .navigation-pills div{
		padding: 12px 8px 5px;
		font-size: 13px;
	}
	.nutroxsun .navigation-pills div.active{
		padding: 8px 6px 5px;
	}

}